/*  .ui-content{
    background: url(http://lorempixel.com/1800/1800/abstract/2/) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	 min-height: 100%;
    background-size: cover;
    background-size:100% 100%;
}

 */
/* .ui-page {
    background-color: lightblue !important;
} */

.ui-page {
    background-color: red !important;
}
.ui-content {
    background: transparent url(https://farm3.staticflickr.com/2902/14479871095_fe439a5782_k.jpg);
    background-size : 100% 100%;
    color:#FFFFFF;
    text-shadow:1px 1px 1px #000000;
}


